# used with atom.io, fast snippets
# For test, copy it to File > Snippets

'.text.md':
  'Aligned multiline math equation with no number':
    'prefix': 'math.equation'
    'body': """
    $$
    \\\\begin{align*}
    ${1:<equation>}
    \\\\end{align*}
    $$
    """
  'Limit to positive infinity':
    'prefix': 'math.inf.positive'
    'body': '\\\\lim_{x \\\\to +\\\\infty}'
  'Limit to negative infinity':
    'prefix': 'math.inf.negative'
    'body': '\\\\lim_{x \\\\to -\\\\infty}'
  'derivate of...':
    'prefix': 'math.deriv.x'
    'body': '\\\\mathrm d${1:<variable>}'
  'grouped equation':
    'prefix': 'math.group'
    'body': """\\\\begin{cases}
    ${1:<group_of_equations>}
    \\\\end{cases}
    """
  'Series in advanced math':
    'prefix': 'math.series'
    'body': '\\\\displaystyle \\\\sum_{n=1}^\\\\infty ${1}'
  'Denominator':
    'prefix': 'math.denominator'
    'body': """\\\\left | \\\\begin{matrix}
    ${1:ele} & ${2:ele} \\\\\\\\
    ${3:ele} & ${4:ele} \\\\\\\\
    \\\\end{matrix} \\\\right |
    """
